
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.event_slider {
    width: 60%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

    .event_slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
        position: absolute;
    }

        .event_slider img.active {
            display: block;
        }

.job_statistics {
    width: 35%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    border: 1px solid transparent;
    margin: 20px;
}

    .search-bar:hover {
        border-color: #ff9220;
    }

.search-input {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    flex-grow: 1;
}

    .search-input i {
        font-size: 16px;
        margin-right: 8px;
        color: gray;
    }

    .search-input input {
        border: none;
        outline: none;
        font-size: 16px;
        flex: 1;
    }

.search-filter {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 14px;
    color: black;
}

    .search-filter i {
        font-size: 14px;
        margin-right: 5px;
        color: gray;
    }

.search-btn {
    background-color: #ffa944;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

    .search-btn:hover {
        background: #ff9220;
    }

.location-filter {
    flex: 2;
    display: flex;
    gap: 10px;
}

.province-dropdown {
    flex: 1;
}

.dropdown-menu {
    padding: 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.province-list-content {
    max-height: 300px;
    overflow-y: auto;
}

.form-check {
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    .form-check:hover {
        background-color: #f8f9fa;
    }

.form-check-label i {
    margin-right: 8px;
    color: #666;
}


.job-card {
    transition: border-color 0.3s ease;
    border: 1px solid transparent;
}

    .job-card:hover {
        border-color: #ff9220;
    }
